@model  TransactionDTO
@{
    ViewData["Title"] = "_TransactionRowPartial";
}

<tr>
    <td class="align-middle username">@Model.Username</td>
    <td class="align-middle">@Model.CreatedOn</td>
    <td class="align-middle">@Model.Type</td>
    <td class="align-middle flex-center">@Model.Amount</td>
    <td class="align-middle flex-center">@Model.Description</td>
</tr>

