@model ItsAllAboutTheGame.Models.TransactionViewModels.NewDepositViewModel

@{
    ViewData["Title"] = "Deposit";
}

<main class="wow fadeIn slow padding-form initially-hidden">
    <div class="row">
        <div class="col-md-12">
            <section class="login-form mr-auto ml-auto m-0">
                <form class="text-white" id="deposit-form" asp-controller="Transaction" asp-action="Deposit" method="post">
                    <h4 class="text-center">Deposit</h4>
                    <div class="form-group form-sm white-text col-form-label-lg mb-0 ">
                        <label asp-for="CreditCardId" class="white-text"></label>
                        <select asp-for="CreditCardId" asp-items="@Model.Cards" id="card-collection" class="w-100 form-control mb-0" size="1"></select>
                        <small><span asp-validation-for="CreditCardId" class="text-danger p-0 validation-text"></span></small>
                    </div>
                    <div class="mt-2">
                        <a asp-area="" asp-controller="Transaction" asp-action="AddCard" class="btn btn-outline-success rounded font-weight-bold delete-card-button pl-2 pr-2 d-inline-block"><i class="fa fa-plus-square" aria-hidden="true"></i><i class="fa fa-credit-card ml-2"></i></a>
                        <button type="button" class="btn btn-outline-danger rounded font-weight-bold delete-card-button pl-2 pr-2 d-inline-block float-right"><i class="fa fa-minus-square" aria-hidden="true"></i><i class="fa fa-credit-card ml-2"></i></button>
                    </div>
                    <div class="form-group md-form form-sm white-text col-form-label-lg input-group flex-nowrap mb-0 mt-2 p-1">
                        <div class="input-group-lg">
                            <span class="input-group-text text-white border-0" style="background-color:rgba(0,0,0,0);">Amount:</span>
                        </div>
                        <input asp-for="@Model.Amount" class="form-control white-text mb-0" type="text" onkeypress="return isNumberKey(event)" placeholder="0 @Model.CardCurrencySymbol" maxlength="7" id="transaction-amount"/>
                        <div class="input-group-lg">
                            <span class="input-group-text text-white border-0" style="background-color:rgba(0,0,0,0);">@Model.CardCurrencySymbol</span>
                        </div>
                    </div>
                    <span asp-validation-for="@Model.Amount" class="text-danger p-0 validation-text"></span>
                    <div class=" form-group text-center mt-3 align-middle">
                        <button class="btn btn-outline-white waves-effect waves-light" type="submit" value="deposit">Deposit<i class="fa fa-bank ml-2" aria-hidden="true"></i></button>
                        <button class="btn btn-outline-white waves-effect waves-light float-right" type="submit" value="withdraw">Withdraw<i class="fa fa-caret-square-o-down ml-2" aria-hidden="true"></i></button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</main>
                
