@model ItsAllAboutTheGame.Services.Data.DTO.TransactionDTO
@{
    ViewData["Title"] = "TransactionHistoryRowPartial";
}

<tr class="@Model.Type.ToString().ToLower()">
    <th>@Model.CreatedOn</th>
    <th>@Model.Type</th>
    <th><span class="mr-1">@Model.Amount</span>@ViewData["CurrencySymbol"]</th>
    <th>@Model.Description</th>
</tr>



